<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>航天金穗研发部技术拾遗</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="/css/m-font-awesome.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/paper-dashboard.css?v=2.0.0" rel="stylesheet"/>
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <link href="/css/jquery.treegrid.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div th:replace="left::left"></div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div th:replace="header::header"></div>
        </nav>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            权限列表
                        </div>
                        <div class="card-body">
                            <table id="table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="footer::footer"></div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/jquery.dataTables.js "></script>
<script src="/js/paper-dashboard.js?v=2.0.0" type="text/javascript"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.js"></script>
<script src="/js/bootstrap-table-treegrid.js"></script>
<script src="/js/jquery.treegrid.js"></script>

<script>
    $(function () {
        var $table = $("#table");
        $table.bootstrapTable({
            url: 'http://localhost:8787/json/bootstrap_treegrid.json',
            striped: true,
            sidePagenation: 'server',
            idField: 'id',
            columns: [
                {
                    field: 'ck',
                    checkbox: true
                }, {
                    field: 'name',
                    title: '名称'
                }, {
                    field: 'referred',
                    title: '简称'
                }, {
                    field: 'Button',
                    title: '操作',
                    events: operateEvents, //给按钮注册事件
                    formatter: AddFunctionAlty //表格中增加按钮
                }
            ],
            treeShowField: 'name',
            parentIdField: 'pid',
            onLoadSuccess: function (data) {
                $table.treegrid({
                    initialState: 'collapsed',//收缩
                    treeColumn: 1,//指明第几列数据改为树形
                    expanderExpandedClass: 'glyphicon treegrid-expander-expanded',
                    expanderCollapsedClass: 'glyphicon treegrid-expander-collapsed',
                    onChange: function () {
                        $table.bootstrapTable('resetWidth');
                    }
                });
            }
        });
    })

    /**
     * @return {string}
     */
    function AddFunctionAlty(value, row, index) {
        return [
            '<button id="TableEditor" class="btn btn-info btn-link btn-icon btn-sm edit">编辑</button>&nbsp;&nbsp;',
            '<button id="TableSon" class="btn btn-warning btn-link btn-icon btn-sm like">添加</button>&nbsp;&nbsp;',
            '<button id="TableDelete" class="btn btn-danger btn-link btn-icon btn-sm remove">删除</button>'
        ].join("");
    }

    window.operateEvents = {
        "click #TableEditor": function (e, value, row, index) {
            //编辑按钮事件
        },
        "click #TableSon": function () {
            //编辑按钮事件
        },
        "click #TableDelete": function () {
            $(this).parent().parent().remove();
        }
    }

</script>
</body>
</html>