<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>航天金穗研发部技术拾遗-用户编辑</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="col-md-10 mr-auto ml-auto">
        <div class="wizard-container">
            <div class="card card-wizard active" data-color="primary">
                <form action="" method="" novalidate="novalidate">
                    <div class="card-header text-center">
                        <div class="wizard-navigation">
                            <ul class="nav nav-pills">
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link active" href="javascript:void(0)" data-toggle="tab"
                                       role="tab" aria-controls="userInfo" aria-selected="true">
                                        <i class="nc-icon nc-single-02"></i> 基本信息
                                    </a>
                                </li>
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link" href="javascript:void(0)" data-toggle="tab" role="tab"
                                       aria-controls="userRole" aria-selected="true">
                                        <i class="nc-icon nc-touch-id"></i> 分配角色
                                    </a>
                                </li>
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link" href="javascript:void(0)" data-toggle="tab" role="tab"
                                       aria-controls="desc" aria-selected="true">
                                        <i class="nc-icon nc-pin-3"></i> 备注信息
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active" id="userInfo">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="nc-icon nc-single-02"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="userName"
                                                   placeholder="请输入真实姓名">
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="nc-icon nc-circle-10"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="account"
                                                   placeholder="请输入账号">
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="nc-icon nc-send"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="phone"
                                                   placeholder="请输入联系电话号码">
                                        </div>
                                        <div class="input-group">
                                            <button type="button" class="btn btn-primary" id="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="userRole">
                                <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="jobb" value="Design">
                                                    <div class="icon">
                                                        <i class="nc-icon nc-ruler-pencil"></i>
                                                    </div>
                                                    <h6>Design</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="jobb" value="Code">
                                                    <div class="icon">
                                                        <i class="nc-icon nc-laptop"></i>
                                                    </div>
                                                    <h6>Code</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="jobb" value="Develop">
                                                    <div class="icon">
                                                        <i class="nc-icon nc-atom"></i>
                                                    </div>
                                                    <h6>Develop</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="desc">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <h5 class="info-text"> Are you living in a nice area? </h5>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label>Street Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="pull-right">
                            <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next"
                                   value="Next">
                            <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish"
                                   value="Finish" style="display: none;">
                        </div>
                        <div class="pull-left">
                            <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled"
                                   name="previous" value="Previous">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="bodyAssets">
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/jquery.bootstrap-wizard.js"></script>
    <script src="/js/jasny-bootstrap.js"></script>
    <script src="/js/demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                $.ajax({
                    url: "/user/addUser",
                    data: {
                        "userName": $("#userName").val(),
                        "account": $("#account").val(),
                        "phone": $("#phone").val()
                    },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $.notify({
                            icon: 'ti-gift',
                            message: "提交成功"
                        }, {
                            type: 'success',
                            timer: 10
                        });
                    }
                });
            });
        });
    </script>
</th:block>
</body>
</html>