<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>航天金穗大数据组技术博客</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/paper-dashboard.css?v=2.0.0" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="left::left"></div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div th:replace="header::header"></div>
        </nav>
        <div class="content">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="nc-icon nc-single-02"></i></div>
                </div>
                <input type="text" class="form-control" id="userName" placeholder="请输入真实姓名">
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="nc-icon nc-touch-id"></i></div>
                </div>
                <input type="text" class="form-control" id="account" placeholder="请输入账号">
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="nc-icon nc-chat-33"></i></div>
                </div>
                <input type="text" class="form-control" id="phone" placeholder="请输入联系电话号码">
            </div>
            <div class="input-group col-md-6">
                <button type="button" class="btn btn-primary" id="submit">提交</button>
            </div>
        </div>
        <div th:replace="footer::footer"></div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            $.ajax({
                url: "/user/addUser",
                data: {
                    "userName": $("#userName").val(),
                    "account": $("#account").val(),
                    "phone": $("#phone").val()
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    $.notify({
                        icon: 'ti-gift',
                        message: "提交成功"
                    }, {
                        type: 'success',
                        timer: 10
                    });
                }
            });
        });
    });
</script>
</body>
</html>