<!DOCTYPE html>
<html lang="en">
<head>
    <title>录入页 - 航天金穗大数据技术团队</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/editormd.min.css"/>
</head>
<body>
<label>标题：</label><input type="text" id="articleTitle"/>
<label>概要：</label><input type="text" id="articleSummary"/>
<label>专栏：</label>
<select id="sortId">
    <option value="JAVA">JAVA</option>
    <option value="大数据">大数据</option>
    <option value="IT自动化">IT自动化</option>
</select>
<div class="editormd" id="blog-editormd">
    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
    <textarea class="editormd-html-textarea" name="text" id="articleInfo"></textarea>
</div>
<input type="submit" id="submit"/>
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/editormd.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        editormd("blog-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/uploadfile",
            saveHTMLToTextarea: true
        });

        $("#submit").click(function () {
            $.ajax({
                url: "/save",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(getFormJson()),
                traditional: true,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        })

        function getFormJson() {
            var Json = {
                articleTitle: $("#articleTitle").val(),
                articleInfo: $("#articleInfo").val(),
                sortId:$("#sortId").val(),
                articleSummary:$("#articleSummary").val()
            };
            return Json;
        }
    });
</script>
</body>
</html>