<div class="sidebar" data-color="white" data-active-color="danger" th:fragment="left">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="/manage/main" class="simple-text logo-normal">
            航天金穗研发部技术拾遗
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" th:each="sysPermission:${sysPermissionList}">
            <li>
                <a href="/manage/user" th:href="@{${sysPermission.pmsnUrl}}">
                    <i class="nc-icon nc-single-02"></i>
                    <p th:text="${sysPermission.menuName}"></p>
                </a>
            </li>
        </ul>
    </div>
</div>