<div class="sidebar" data-color="white" data-active-color="danger" th:fragment="left">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="/manage/main" class="simple-text logo-normal">
            航天金穗研发部技术拾遗
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/manage/user">
                    <i class="nc-icon nc-single-02"></i>
                    <p>用户管理</p>
                </a>
            </li>
            <li>
                <a href="/manage/role">
                    <i class="nc-icon nc-hat-3"></i>
                    <p>角色管理</p>
                </a>
            </li>
            <li>
                <a href="/manage/pmsn">
                    <i class="nc-icon nc-touch-id"></i>
                    <p>权限管理</p>
                </a>
            </li>
            <li class="active">
                <a href="/manage/article">
                    <i class="nc-icon nc-paper"></i>
                    <p>文章管理</p>
                </a>
            </li>
            <li>
                <a href="/manage/userInfo">
                    <i class="nc-icon nc-badge"></i>
                    <p>修改密码</p>
                </a>
            </li>
        </ul>
    </div>
</div>