<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>航天金穗研发部技术拾遗</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/paper-dashboard.css?v=2.0.1" rel="stylesheet"/>
</head>
<body>
<div class="full-page section-image" filter-color="black" data-image="/images/fabio-mangione.jpg">
    <div class="content">
        <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <form class="form" method="POST" action="/login">
                    <div class="card card-login">
                        <div class="card-header ">
                            <div class="card-header ">
                                <h3 class="header text-center">航天金穗技术博客</h3>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                                </div>
                                <input type="text" class="form-control" id="account" value=""
                                       placeholder="输入登录帐号">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                                </div>
                                <input type="password" id="userPwd" placeholder="输入登录密码" value="111111"
                                       class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="">
                                        <span class="form-check-sign"></span>
                                        记住用户名
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <a href="javascript:void(0)" id="submit"
                               class="btn btn-warning btn-round btn-block mb-3">登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <a href="/" target="_blank">航天金穗研发部技术拾遗</a>
                        </li>

                    </ul>
                </nav>
                <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with by dyenigma
              </span>
                </div>
            </div>
        </div>
    </footer>
    <div class="full-page-background" style="background-image: url(/images/fabio-mangione.jpg)"></div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            $.ajax({
                url: "/login",
                data: {
                    "account": $("#account").val(),
                    "userPwd": $("#userPwd").val()
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.status === true) {
                        window.location.href = "/manage/main";
                    } else {
                        $.notify({
                            icon: 'ti-gift',
                            message: "登录失败:" + data.message
                        }, {
                            type: 'success',
                            timer: 10
                        });
                    }
                }
            });
        });
    });
</script>
</body>
</html>