<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>文章归档 - 航天金穗大数据技术团队</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="/css/front.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body class="holygrail pg-archives">
<div class="holygrail-body">
    <div class="nav-bar">
        <div class="nav-bar-inner">
            <span class="nav-bar-site-title"><a href="">航天金穗大数据技术团队</a></span>
            <button class="nav-bar-btn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="nav-bar-tabs">
            <nav><span class="nav-bar-tab current"><a href="/" class="current">最新文章</a></span><span
                    class="nav-bar-tab"><a href="/sort">文章归档</a></span>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="tag_header year_header"><span class="active_year">2018</span><span
                class="enable_year">2017</span><span class="enable_year">2016</span><span
                class="enable_year">2015</span><span class="enable_year">2014</span><span
                class="enable_year">2013</span>
            <form action="/google.com/search" method="get" target="_blank" class="search">
                <div class="search_box"><input type="text" name="q" class="search_input"><input type="hidden" name="q"
                                                                                                value="site:tech.htjs.net"><input
                        type="hidden" name="gw_rd" value="cr"><input type="submit" id="search_submit"><label
                        for="search_submit"></label></div>
            </form>
        </div>
        <section>
            <div data-year="2018" class="post-list active">
                <article class="post">
                    <header class="post-title"><a href="/detail">扫码付的前端可用性保障实践</a>
                    </header>
                    <div class="post-meta"><span class="post-meta-author">dyenigma</span><span class="post-meta-ctime">2018-08-09</span>
                    </div>
                    <p class="post-abstract">
                        在扫码付业务火箭式发展的过程中，对整个系统的可用性提出了严格的要求，前端服务也面临了很大的挑战。我们在不断解决问题的过程中总结了一些经验，有些方案取得...</p>
                    <footer class="post-tags"><a href="tag/金融" class="tag"><span class="tag_name">金融</span></a><a
                            href="tag/前端" class="tag"><span class="tag_name">前端</span></a><a href="tag/线下沙龙"
                                                                                             class="tag"><span
                            class="tag_name">线下沙龙</span></a><a href="tag/服务保障" class="tag"><span
                            class="tag_name">服务保障</span></a><a href="tag/前后端分离" class="tag"><span
                            class="tag_name">前后端分离</span></a><a href="tag/前端工程化" class="tag"><span class="tag_name">前端工程化</span></a>
                    </footer>
                </article>

            </div>
            <div data-year="2017" class="post-list hide">
                <article class="post">
                    <header class="post-title"><a href="/detail">智能投放系统之场景分析最佳实践</a></header>
                    <div class="post-meta"><span class="post-meta-author">dyenigma</span><span
                            class="post-meta-ctime">2017-12-29</span></div>
                    <p class="post-abstract">本文介绍了智能投放系统中场景查询器模块，后端的开发以及优化实践。</p>
                    <footer class="post-tags"><a href="tag/大数据" class="tag"><span class="tag_name">大数据</span></a><a
                            href="tag/精准营销" class="tag"><span class="tag_name">精准营销</span></a><a href="tag/BI"
                                                                                                 class="tag"><span
                            class="tag_name">BI</span></a><a href="tag/系" class="tag"><span
                            class="tag_name">系</span></a><a href="tag/数据分析" class="tag"><span
                            class="tag_name">数据分析</span></a><a href="tag/平台" class="tag"><span
                            class="tag_name">平台</span></a></footer>
                </article>
            </div>
            <div data-year="2016" class="post-list hide">
                <article class="post">
                    <header class="post-title"><a href="/detail">团购订单系统优化记</a></header>
                    <div class="post-meta"><span class="post-meta-author">dyenigma</span><span class="post-meta-ctime">2016-12-27</span>
                    </div>
                    <p class="post-abstract">
                        本文介绍了团购订单系统一系列优化实践，从存储拆分到服务化架构改造，提供了一种老服务进行微服务化改造的可行方案，以及作者在微服务化中的一些思考。</p>
                    <footer class="post-tags"><a href="tag/SOA" class="tag"><span class="tag_name">SOA</span></a><a
                            href="tag/微服务" class="tag"><span class="tag_name">微服务</span></a><a href="tag/到餐"
                                                                                               class="tag"><span
                            class="tag_name">到餐</span></a><a href="tag/后台" class="tag"><span class="tag_name">后台</span></a>
                    </footer>
                </article>

            </div>
            <div data-year="2015" class="post-list hide">
                <article class="post">
                    <header class="post-title"><a href="/detail">Android单元测试研究与实践</a></header>
                    <div class="post-meta"><span class="post-meta-author">dyenigma</span><span class="post-meta-ctime">2015-12-24</span>
                    </div>
                    <p class="post-abstract"> Android单元测试介绍
                        处于高速迭代开发中的Android项目往往需要除黑盒测试外更加可靠的质量保障，这正是单元测试的用武之地。单元测试周期...</p>
                    <footer class="post-tags"><a href="tag/前端" class="tag"><span class="tag_name">前端</span></a><a
                            href="tag/平台" class="tag"><span class="tag_name">平台</span></a><a href="tag/Android单元测试"
                                                                                             class="tag"><span
                            class="tag_name">Android单元测试</span></a><a href="tag/Robolectric" class="tag"><span
                            class="tag_name">Robolectric</span></a><a href="tag/单元测试" class="tag"><span
                            class="tag_name">单元测试</span></a><a href="tag/Android" class="tag"><span class="tag_name">Android</span></a>
                    </footer>
                </article>

            </div>
            <div data-year="2014" class="post-list hide">
                <article class="post">
                    <header class="post-title"><a href="/detail">基于机器学习方法的POI品类推荐算法</a></header>
                    <div class="post-meta"><span class="post-meta-author">dyenigma</span><span
                            class="post-meta-ctime">2014-12-18</span></div>
                    <p class="post-abstract"> 前言
                        在商家数据中心（MDC），有超过100w的已校准审核的POI数据（我们一般将商家标示为POI，POI基础信息包括：门店名称、品类、电话...</p>
                    <footer class="post-tags"><a href="tag/算法" class="tag"><span class="tag_name">算法</span></a><a
                            href="tag/机器学习" class="tag"><span class="tag_name">机器学习</span></a><a href="tag/Naive Bayes"
                                                                                                 class="tag"><span
                            class="tag_name">Naive Bayes</span></a><a href="tag/特征选择" class="tag"><span
                            class="tag_name">特征选择</span></a></footer>
                </article>

            </div>
            <div data-year="2013" class="post-list hide">
                <article class="post">
                    <header class="post-title"><a href="/detail">基于Flume的日志收集系统(二)改进和优化</a>
                    </header>
                    <div class="post-meta"><span class="post-meta-author">dyenigma</span><span class="post-meta-ctime">2013-12-09</span>
                    </div>
                    <p class="post-abstract">
                        在《基于Flume的日志收集系统(一)架构和设计》中，我们详述了基于Flume的日志收集系统的架构设计，以及为什么做这样的设计。在本节中，我...</p>
                    <footer class="post-tags"><a href="tag/Flume" class="tag"><span class="tag_name">Flume</span></a><a
                            href="tag/Scribe" class="tag"><span class="tag_name">Scribe</span></a><a href="tag/Log"
                                                                                                     class="tag"><span
                            class="tag_name">Log</span></a><a href="tag/日志收集" class="tag"><span
                            class="tag_name">日志收集</span></a><a href="tag/优化" class="tag"><span
                            class="tag_name">优化</span></a></footer>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="qr_code_btn_container">
    <a href="javascript:window.smoothScrollToTop()"><span class="top_btn"></span></a></div>
<footer id="footer">
    <div class="ft"><span class="copyright">&copy; 2018 航天金穗大数据技术团队</span><span
            class="copyright">All rights reserved.</span>
    </div>
</footer>
<script src="/js/front.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    (function () {
        var dis = document.getElementById('hide');
        window.onscroll = function () {
            if (window.scrollY >= 100) {
                dis.setAttribute('Id', 'toTop');
            } else {
                dis.setAttribute('Id', 'hide');
            }
        }


    })()

    function changeShowYear(e) {
        var ele = e.target;
        if (ele.tagName !== "SPAN") {
            return;
        }
        var text = ele.innerHTML;
        var yearTags = document.querySelectorAll(".year_header span");

        for (var i in yearTags) {
            if (yearTags.hasOwnProperty(i)) {
                yearTags[i].setAttribute("class", "enable_year");
            }
        }
        ele.setAttribute("class", "active_year");

        var queryFlag = "[data-year='" + text + "']";
        var allList = document.querySelectorAll(".post-list");
        var showYearEle = document.querySelector(queryFlag);

        for (var i in allList) {
            if (allList.hasOwnProperty(i)) {
                allList[i].setAttribute("class", "post-list hide");
            }
        }
        showYearEle.setAttribute("class", "post-list active");
    }

    var tagYear = document.querySelector(".year_header");
    if (tagYear) {
        tagYear.addEventListener("click", changeShowYear, false);
    }</script>
</body>
</html>
