<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.htjs.blog.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="net.htjs.blog.entity.SysUser">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="lastmod" property="lastmod" jdbcType="TIMESTAMP"/>
        <result column="modifyer" property="modifyer" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
      user_id, user_name, created, account, user_pwd, phone, status, creater, lastmod,modifyer
    </sql>
    <select id="userCertified" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user where account =#{account,jdbcType=VARCHAR} and STATUS = 'E'
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user WHERE STATUS = 'E'
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_user where user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="net.htjs.blog.entity.SysUser">
    insert into sys_user (user_id, user_name, created,
      account, user_pwd, phone,
      status, creater, lastmod,
      modifyer)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},
      #{account,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{status,jdbcType=CHAR}, #{creater,jdbcType=VARCHAR}, #{lastmod,jdbcType=TIMESTAMP},
      #{modifyer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="net.htjs.blog.entity.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="lastmod != null">
                lastmod,
            </if>
            <if test="modifyer != null">
                modifyer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="net.htjs.blog.entity.SysUser">
        update sys_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="lastmod != null">
                lastmod = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyer != null">
                modifyer = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="net.htjs.blog.entity.SysUser">
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      account = #{account,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      creater = #{creater,jdbcType=VARCHAR},
      lastmod = #{lastmod,jdbcType=TIMESTAMP},
      modifyer = #{modifyer,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>